/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DNFForgedBladeLight";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "DNFForgedBladeNormal";
  font-style: normal;
  font-weight: 500;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "DNFForgedBladeBold";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Bold.otf")
    format("opentype");
}

html {
  font-family: "Libre Baskerville", serif;
}